registry=https://npm.notta.ai/
//npm.notta.ai/:_authToken=EPlR5h8wZw0CQz3s/KZtUDaAVJmytooGvWMdw33nVRc=
unsafe-perm=true
auto-install-peers=false
node-linker=hoisted
public-hoist-pattern[]=@gatsbyjs*
public-hoist-pattern[]=prop-types
public-hoist-pattern[]=query-string
public-hoist-pattern[]=mitt
public-hoist-pattern[]=shallow-compare
public-hoist-pattern[]=error-stack-parser
public-hoist-pattern[]=platform
public-hoist-pattern[]=css.escape
public-hoist-pattern[]=anser
public-hoist-pattern[]=gatsby-*
public-hoist-pattern[]=event-source-polyfill
public-hoist-pattern[]=filesize
public-hoist-pattern[]=lodash*
public-hoist-pattern[]=fs-extra
public-hoist-pattern[]=node-html-parser